<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<appSettings>
    <add key="example" value="convert zero datetime=True;allow zero datetime=false;allow user variables=true;Connect Timeout=30;SERVER=162.241.203.55;PORT=3306;UID=sabend06_proton;PASSWORD=wR@ma4AH&amp;*(;DATABASE=sabend06_proton;" />
    <add key="Development - localhost" value="SERVER=localhost;PORT=3306;UID=proton;PASSWORD=1234;DATABASE=proton;" />
  </appSettings>
</configuration>